# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ignore json file
*.json
/Users/henryma/Documents/GitHub/CS246_F21_Final_Project/.vscode/c_cpp_properties.json
/Users/henryma/Documents/GitHub/CS246_F21_Final_Project/.vscode/settings.json

# makefile
C:\Users\saman\Downloads\course notes_ materials\CS 246\final project\project\CS246_F21_Final_Project\Makefile
